<div class="container">
  <form (ngSubmit)="onSubmit(f)" #f="ngForm">
    <div class="form-group">
      <label for="firstname">IMIĘ</label>
      <input type="text" id="firstname" class="form-control" ngModel name="firstname">

      <label for="lastname">NAZWISKO</label>
      <input type="text" id="lastname" class="form-control" ngModel name="lastname">

      <label for="email">E-MAIL</label>
      <input type="text" id="email" class="form-control" ngModel name="email">

      <label for="phoneNumber">NUMER TELEFONU</label>
      <input type="text" id="phoneNumber" class="form-control" ngModel name="phoneNumber">
    </div>
    <button type="submit">PRZEJDŹ DO PŁATNOŚCI</button>
  </form>
</div>
