body {
  background-color: #000000;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

button {
  border-radius: 10px;
  border-color: #FF9900;
  background-color: #FF9900;
  color: #ffffff;
  margin: 0;
  padding: 10px;
}

input {
  border-radius: 10px;
}
